@using WebDesigner.Models.ViewModels
@using WebDesigner.Models.Pages
@model IPageViewModel<SitePageData>
@{
    // nest the left navigation inside the root layout
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

@section _BreadCrump{
    <div id="breadcrumb">
        <div class="container">
            <div class="breadcrumb">

                @if (Model.AncestorPages != null)
                {
                    foreach (var ancestorPage in Model.AncestorPages.Reverse())
                    {
                        <li>
                            @Html.ContentLink(ancestorPage.ContentLink)
                        </li>
                    }
                }

                @*<li><a href="index.html">Home</a></li>*@
                <li>@Model.CurrentPage.Name</li>

                @*<li>About Us</li>*@
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-md-1 leftNavigation">
            @if (Model.SubMenuPages != null && Model.SubMenuPages.Count() > 0)
            {
                <text>
                    @Html.ContentLink(Model.SubMenuRootPage)
                </text>
                <ul>
                    @foreach (SitePageData page in Model.SubMenuPages)
                    {
                        <li>@Html.ContentLink(page.ContentLink)</li>
                    }
                </ul>
            }
        </div>
        <div class="col-md-11">
            @RenderBody()
        </div>
    </div>
</div>
