@using WebDesigner.Models.ViewModels
@using EPiServer.Web.Mvc.Html
@model AboutUsPageViewModel<WebDesigner.Models.Pages.AboutUsPage>

@{
    Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
}


<div class="aboutus">
    <div class="container">

        <h3 @Html.EditAttributes(m => m.CurrentPage.MainBodyHeading)>
            @Model.CurrentPage.MainBodyHeading
        </h3>

        <hr>
        <div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            @if (Model.CurrentPage.MainBodyImage != null)
            {
                <text>
                    <img src="@Url.ContentUrl(Model.CurrentPage.MainBodyImage)" class="img-responsive">
                </text>
            }
            else
            {
                <text>
                    <img src="@Url.Content("~/Static/images/7.jpg")" class="img-responsive">
                </text>
            }

            @Html.PropertyFor(m => m.CurrentPage.MainBody)
        </div>

        <div class="col-md-5 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="skill">
                <h2 @Html.EditAttributes(m => m.CurrentPage.MainContentAreaHeading)>
                    @Model.CurrentPage.MainContentAreaHeading
                </h2>
                <p @Html.EditAttributes(m => m.CurrentPage.MainContentAreaIntro)>
                    @Model.CurrentPage.MainContentAreaIntro
                </p>
                @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { CssClass = "progress-wrap" })

            </div>
        </div>

    </div>
</div>

<div class="our-team">
    <div class="container">
        <h3>Our Team</h3>
        <div class="col-md-10">
            @Html.PropertyFor(m => m.AllStaffContentArea, new { CssClass = "text-center" })
            @Html.PropertyFor(m => m.CurrentPage.RelatedContentArea, new { CssClass = "text-center" })
        </div>
    </div>
</div>

