@using WebDesigner.Models.ViewModels
@using EPiServer.Web.Mvc.Html
@model PageViewModel<WebDesigner.Models.Pages.AboutUsPage>

@{ 
    Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
}

<div id="breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li>About Us</li>
        </div>
    </div>
</div>

<div class="aboutus">
    <div class="container">

        <h3 @Html.EditAttributes(m => m.CurrentPage.MainBodyHeading)>
            @Model.CurrentPage.MainBodyHeading
        </h3>

        <hr>
        <div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            @if (Model.CurrentPage.MainBodyImage != null)
            {
                <text>
                    <img src="@Url.ContentUrl(Model.CurrentPage.MainBodyImage)" class="img-responsive">
                </text>
            }
            else
            {
                <text>
                    <img src="@Url.Content("~/Static/images/7.jpg")" class="img-responsive">
                </text>
            }

            @Html.PropertyFor(m => m.CurrentPage.MainBody)
        </div>

        <div class="col-md-5 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="skill">
                <h2 @Html.EditAttributes(m => m.CurrentPage.MainContentAreaHeading)>
                    @Model.CurrentPage.MainContentAreaHeading
                </h2>
                <p @Html.EditAttributes(m => m.CurrentPage.MainContentAreaIntro)>
                    @Model.CurrentPage.MainContentAreaIntro
                </p>
                @Html.PropertyFor(m => m.CurrentPage.MainContentArea, new { CssClass = "progress-wrap" })

            </div>
        </div>

    </div>
</div>

<div class="our-team">
    <div class="container">
        <h3>Our Team</h3>
        @Html.PropertyFor(m => m.CurrentPage.RelatedContentArea, new { CssClass = "text-center" })
        @*<div class="text-center">

                <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <img src="images/services/1.jpg" alt="">
                    <h4>John Doe</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <img src="images/services/2.jpg" alt="">
                    <h4>John Doe</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <img src="images/services/3.jpg" alt="">
                    <h4>John Doe</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
                </div>
            </div>*@
    </div>
</div>

