@model WebDesigner.Models.ViewModels.TeaserBlockViewModel

<h2 class="animation animated-item-1">
    <span @Html.EditAttributes(m => m.CurrentBlock.TeaserHeading)>@Model.CurrentBlock.TeaserHeading</span>
</h2>

<div class="animation animated-item-2" @Html.EditAttributes(m => m.CurrentBlock.TeaserText)>
    @Html.DisplayFor(m => m.CurrentBlock.TeaserText)
</div>

<a class="btn-slide animation animated-item-3" href="@(Model.CurrentBlock.TeaserLink!=null ? Url.ContentUrl(Model.CurrentBlock.TeaserLink): "#")">
    <span @Html.EditAttributes(m => m.CurrentBlock.TeaserLinkText)>
        @(Model.CurrentBlock.TeaserLinkText ?? "Read more")
    </span>
</a>
